<!DOCTYPE html>
<html>
<head>
  <title>Scraping Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      max-width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .form-container form {
      flex-basis: 45%;
    }

    .form-container button {
      margin-top: 10px;
    }

    /* Media query dla mniejszych ekranów */
    @media (max-width: 768px) {
      .form-container {
        flex-direction: column;
        align-items: center;
      }

      .form-container form {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center mb-4">Scraper v1</h1>
    <div class="form-container">
      <form action="/fetchProperties" method="POST">
        <div class="form-group">
          <label for="scraperName">Scraper Name:</label>
          <select class="form-control" id="scraperName" name="scraperName">
            <option value="otodom">Otodom</option>
            <option disabled value="morizon">Morizon</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" required class="form-control" id="city" name="city">
        </div>
        <div class="form-group">
          <label for="scraperName">Type:</label>
          <select class="form-control" id="type" name="type">
            <option value="sale">Sale</option>
            <option value="rent">Rent</option>
          </select>
        </div>
        <div class="form-group">
          <label for="propertyType">Property type:</label>
          <select class="form-control" id="propertyType" name="propertyType">
            <option value="mieszkanie">mieszkanie</option>
            <option value="dom">dom</option>
            <option value="kawalerka">kawalerka</option>
            <option value="inwestycja">inwestycja</option>
            <option value="pokoj">pokoj</option>
            <option value="dzialka">dzialka</option>
            <option value="lokal">lokal</option>
            <option value="haleimagazyny">haleimagazyny</option>
            <option value="garaz">garaz</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ownerTypeSearching">Ownership:</label>
          <select class="form-control" id="ownerTypeSearching" name="ownerTypeSearching">
            <option value="DEVELOPER">Developer</option>
            <option value="PRIVATE">Private</option>
          </select>
        </div>
        <div class="form-group">
          <label for="minPrice">Minimum Price:</label>
          <input type="number" class="form-control" id="minPrice" name="minPrice">
        </div>
        <div class="form-group">
          <label for="maxPrice">Maximum Pri ce:</label>
          <input type="number" class="form-control" id="maxPrice" name="maxPrice">
        </div>
        <div class="form-group">
          <label for="minArea">Minimum Area:</label>
          <input type="number" class="form-control" id="minArea" name="minArea">
        </div>
        <div class="form-group">
          <label for="maxArea">Maximum Area:</label>
          <input type="number" class="form-control" id="maxArea" name="maxArea">
        </div>
        <button type="submit" class="btn btn-primary">Scrape</button>
      </form>
      <form action="/rescrapeProperties" method="POST">
      <div class="form-group">
        <label for="fileDropdown">Wybierz plik:</label>
        <select id="fileDropdown" class="form-control">
          {{#each files}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Rescrape</button>      </form>
    </div>
  </div>
</body>
</html>